.about {
    position: relative;
    margin-bottom: 240px;
    margin-left: 170px;
    &__title {
        padding-bottom: 44px;
        padding-top: 88px;
    }
    &__text {
        font-size: 16px;
        color: #5B5B5B;
        font-weight: 400;
        line-height: 28px;
    }
    &__btn {
        margin-top: 32px;
    }
    &__img {
        position: absolute;
        right: 271px;
        top: 0;
        padding-bottom: 120px;
    }
}