.header {
    padding: 40px 0 128px 0;
    background: url('../img/bg-image.png') center (center/cover) no-repeat;
    &__img {
        width: 87px;
        height: 35px;
        margin-right: 200px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                color: #9a9a9a;
                transition: 700ms ease;
                &:hover {
                    text-decoration: underline ;
                    color: #fff;
                }
            }
        }
    }
    &__end {
        display: flex;
        justify-content: end;
        margin-left: 190px;
    }

    h1 {
        padding-top: 185px;
        color: #fff;
        font-size: 48px;
        text-align: center;
    }
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 32px;
        width: 272px;
        height: 72px;
        background-color: #7B61FF;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: 400ms ease;
        &:hover {
            background-color: #5258c3
        }
    }
    &__blocks {
        width: 1140px;
        margin: 0 auto;
        padding: 14px 8px 14px 64px;
        margin-top: 184px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 12px;
    }
    /* &__bimg {
        position: absolute;
        left: 413px;
        padding-right: 16px;
    } */
}